@tailwind base;
@tailwind components;
@tailwind utilities;
/* CSS cho Slider */
.slider-container {
    width: 90%;
    margin: 0 auto;
  }
  
  /* Kiểu dáng cho mỗi bài viết trong slider */
  .post-slide {
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  
  /* Hiệu ứng hover khi di chuột vào bài viết */
  .post-slide:hover {
    transform: translateY(-10px);  /* Nâng bài viết lên khi hover */
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);  /* Tăng độ shadow khi hover */
  }
  
  /* Kiểu dáng tiêu đề bài viết */
  .post-slide h3 {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
  }
  
  /* Kiểu dáng nội dung bài viết */
  .post-slide p {
    font-size: 14px;
    color: #666;
  }
  
  /* Responsive */
  @media (max-width: 1280px) {
    .slider-container {
        width: 90%;
    }
  
    .post-slide {
      padding: 15px;
      gap: 20px;
    }
  }
  
  @media (max-width: 768px) {
    .slider-container {
      width: 90%;
    }
  
    .post-slide {
      padding: 10px;
      gap: 20px;
    }
  }
  

  @media (max-width: 500px) {
    .flip-card {
      width: 100%; /* Đảm bảo flip-card chiếm 100% chiều rộng */
      height: auto; /* Tự động điều chỉnh chiều cao */
    }
  
    .flip-card-inner {
      transform-style: preserve-3d;
      transform: none;
    }
  
    .flip-card-front,
    .flip-card-back {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px; /* Giảm padding để thẻ không bị tràn */
    }
  
    .flip-card h2 {
      font-size: 1rem; /* Giảm kích thước chữ khi màn hình nhỏ */
    }
  }

  .loaded {
    display: none;
}